<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<link href="/css/hello.css" th:href="@{/css/hello.css}" rel="stylesheet"/>
<script src="/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<title>Insert title here</title>
<script>
<!--
$(function(){
$(".pic").mouseover(function(){
$(this).css("border","solid 5px #FFFFFF");
});
$(".pic").mouseout(function(){
$(this).css("border-style","none");
});
});
//-->
</script>
</head>
<body>
<h1>Hello world</h1>
<img src="/images/hello.png" class="pic" alt=""></img>
<p class="msg" th:text="${msg}" />
</body>
</html>